body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}


h1 {
  color: white;
}
a {
  color: black;
}
header {
  background-color: white;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img {
  height: 100px;
  margin-right: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.blog-post {
  margin-bottom: 40px;
}

.blog-post h2 {
  margin-top: 0;
 color: black;
}

.blog-post h2 a {
  color: black;
}

.read-more {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.read-more:hover {
  background-color: #444;
}

.full-post {
  display: block;
  margin-bottom: 20px;
}

pre p {
  font-weight: bold;
  font-size: 24px;
}

main > section > pre > p {
  font-size: 24px;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* adjust the height as needed */
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

